*.o
*.a
*~
/TAGS
/python/twistd.pid
/examples/bot
/docs
.deps/
.dirstamp
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
tests/check_kvpair
tests/check_xmpp
tests/check_persist
*.gcda
*.gcno
*.gcov
