*.o
*.lo
*.a
*.la
*.Po
*~
/libconflate.pc
/TAGS
/python/twistd.pid
/examples/bot
/docs
.deps/
.libs/
/m4/
.dirstamp
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
libtool
ltmain.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
tests/check_kvpair
tests/check_xmpp
tests/check_persist
tests/check_alarm
*.gcda
*.gcno
*.gcov
.buildbot
